@import "../shared";

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
#root {
    width: 100%;
}
#form-anchor {
    display: block;
    padding-top: 100px;
    margin-top: -100px;
    position: relative;
    z-index: -1;
}
.order {
    p {
        text-align: left;
    }
}
.font-weight-bold {
    font-weight: bold;
}
.spinner-container {
    text-align: center;
    margin-bottom: 2rem;
    .spinner {
        color: $dark-teal;
    }
}
.customize {
    &__textarea {
        min-height: unset !important;
        margin: 0 auto;
        &-container {
            @include breakpoint($large) {
                padding: 0.5rem 1rem;
            }
        }
    }
    &__counter {
        margin-bottom: 1rem;
    }
}
.form__header {
    margin-bottom: 1rem;
    .total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        @include breakpoint($large) {
            margin: 0;
        }
        &__label {
            text-transform: uppercase;
            background: $offwhite;
            font-weight: bold;
            color: $medium-grey;
            padding: calc(0.9rem + 1px);
            @include breakpoint($large) {
                padding: calc(1rem + 1px);
            }
            &--border-right {
                border-right: 1px solid $medium-grey;
            }
            &--customize {
                display: none;
                @include breakpoint($medium) {
                    display: inline-block;
                }
            }
        }
        &__price {
            border: 1px solid $medium-grey;
            font-weight: bold;
            padding: 0.9rem;
            @include breakpoint($large) {
                padding: 1rem;
            }
        }
    }
}
.plus-minus-input {
    align-items: center;
    margin: auto;
    width: 200px;
    .input-group-field {
        text-align: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border: 1px solid $dark-teal;
        color: $orange;
        padding: 0.5rem 1rem;
        font-weight: bold;
        &::-webkit-inner-spin-button,
        ::-webkit-outer-spin-button {
            appearance: none;
        }
    }
    .input-group-button {
        .circle {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            line-height: 40px;
            padding: 0;
            border-color: $dark-teal;
            background-color: $dark-teal;
            color: $white;
        }
    }
}
// .blue-arrow {
//     background: none;
//     padding: 1rem;
//     border-radius: 50px;
//     color: $white;
//     text-decoration: none;
//     font-weight: bold;
//     text-transform: uppercase;
//     min-width: 200px;
//     transition: all 0.2s ease-in !important;
//     cursor: pointer;
//     margin: 0.5rem;
//     &:after {
//         content: "\f061";
//         font-family: "FontAwesome";
//         font-size: 1rem;
//         padding: 1rem 0;
//         padding-left: 1rem;
//         margin-left: 1rem;
//     }
// }
.select-button {
    border-radius: 50px;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    min-width: 200px;
    // transition: all 0.2s ease-in !important;
    cursor: pointer;
    margin: 0.5rem auto;
    width: auto;
    &__text {
        line-height: 1.1;
        padding: 1rem;
        background-color: $offwhite;
        border-top-left-radius: 50px !important;
        border-bottom-left-radius: 50px !important;
        color: $dark-grey;
    }
    &__icon {
        padding: 1rem;
        border-top-right-radius: 50px !important;
        border-bottom-right-radius: 50px !important;
        background-color: $medium-grey;
        color: $white;
    }
    &--is-active {
        .select-button__text {
            background-color: $dark-teal;
            border-color: $dark-teal;
            color: $white;
        }
        .select-button__icon {
            background-color: $medium-teal;
            border-color: $medium-teal;
        }
    }
}
// Cards
.card {
    &__item {
        flex: 0 1 auto;
        margin: 0 auto 1rem;
        @include breakpoint($medium) {
            margin: 0 0.5rem 1rem;
        }
        .card {
            &-divider {
                text-transform: uppercase;
                font-size: 1.25rem;
                font-weight: bold;
                justify-content: center;
                color: $dark-grey;
            }
            &-img {
                height: 200px;
                position: relative;
                background-size: cover;
            }
            &-section {
                .blue-arrow {
                    background-color: #eee;
                }
                .select-button {
                    background-color: #eee;
                }
                p {
                    text-align: center;
                }
            }
        }
        &--title {
            .card {
                &-divider {
                    padding: 1rem 0;
                    background-color: $offwhite;
                }
            }
        }
        &--picture {
            .card {
                &-divider {
                    padding: 1rem 0 0;
                    background-color: transparent !important;
                }
                &-img {
                    filter: grayscale(1);
                }
            }
        }
        &--active {
            .card {
                &-divider {
                    color: $dark-teal;
                    background-color: $light-teal;
                }
                &-img {
                    filter: grayscale(0);
                }
                &-section {
                    .blue-arrow {
                        background-color: $dark-teal;
                    }
                    .select-button {
                        background-color: $dark-teal;
                        &__text {
                            color: $white;
                            background-color: $dark-teal;
                        }
                        &__icon {
                            background-color: $medium-teal;
                            border-color: $medium-teal;
                        }
                    }
                }
            }
        }
    }
}
